.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 349px;
}

.headText {
  margin-bottom: 20px;
}

.fields {
  border: 1px solid #E8E8E8;
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.fields:focus {
  outline: 2px solid #E8E8E8;
}

.error {
  border: 1px solid red;
}

.errorText {
  font-size: 12px;
  margin-top: -7.5px;
  margin-bottom: 7.5px;
  color: red;
}

.sendButton {
  height: 50px;
  background: #8C30F5;
  border-radius: 5px;
  color: white;
}

.socialButtons {
  margin: 0 auto;
}

.socialButton {
  margin-bottom: 5px;
  background: #2D3748;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
}

.socialButton img {
  width: 25px;
  margin-top: 2px;
}

.socialButton:first-child {
  margin-right: 15px;
}


/* .ggl {
  background-image: url('./../../img/googlel.svg');
  margin-right: 10px;
}

.instg {
  background-image: url('./../../img/instagram.svg');
} */

.checkbox {
  margin-right: 11px;
}

.labelCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rememberMe {
  display: flex;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
  margin-top: 15px;
}

.or { 
  text-align: center;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}

.or:before, .or:after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: 1px solid #f5f6fa;
  margin-top: .6em;
}

.or:before {
  margin-left: -102%;
}

.or:after {
  margin-left: 2%;
}

.haveAccount {
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 360px) {
  .form {
    max-width: 280px;
  }
 }
