.container {
  background-image: url(../../img/loginImg.svg);
  background-repeat: no-repeat;
  background-position: center bottom 6vh;
  background-size: 95% 20%;
}

.registerContainer {
  background-position: center bottom 2vh;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 83.125%;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../../img/loginDots.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 88% auto;
}

.logo {
  margin: 45px 0 160px;
  width: 232px;
}

.form {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 470px;
}

.headText {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  max-width: 400px;
}

.fields {
  box-sizing: border-box;
  border: 1px solid rgba(35, 38, 48, 0.2);
  max-width: 388px;
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.fields:focus {
  border: 1px solid #232630;
}

.error {
  border: 1px solid #FF7474;
  color: #FF7474;
}

.errorText {
  display: block;
  max-width: 388px;
  width: 100%;
  margin-top: -7.5px;
  margin-bottom: 7.5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #FF7474;
}

.button {
  max-width: 388px;
  width: 100%;
  height: 60px;
  font-weight: 700;
  line-height: 26px;
}

.sendButton {
  border: none;
  margin-bottom: 15px;
  background: 
    linear-gradient(86.13deg, #0075FF 17.96%, #95C6FF 90.14%);
  font-size: 18px;
  color: white;
}

.sendButton:hover {
  background: #0075FF;
}

.sendButton:active {
  background: #95C6FF;
}

.viaGoogle {
  border: 1px solid #0075FF;
  padding-left: 11px;
  margin-bottom: 26px;
  background-image: url(../../img/googleLogin.svg);
  background-repeat: no-repeat;
  background-position: 22% center;
  background-size: 38px;
  font-size: 16px;
  color: #0075FF;
}

.viaGoogle:hover {
  background-color: #EEF6FF;
}

.viaGoogle:active {
  background-color: #95C6FF;
}

.buttonMarginBottom {
  margin-bottom: 26px;
}

.forgotPassword {
  display: block;
  max-width: 388px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: right;
}

.forgotPassword a,
.forgotPassword a:visited {
  color: inherit;
}

.forgotPassword a:hover {
  color: #0075FF;
}

.forgotPassword a:active {
  color: #95C6FF;
}

.haveAccount { 
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.haveAccount a {
  color: #0075FF;
}

.emailSended {
  margin: 0 auto;
}

@media screen and (max-width: 1366px) {
  .container {
    background-position: center bottom 2vh;
  }
  
  .logo {
    margin: 30px 0 80px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    background-position: center bottom 3vh;
  }
  
  .logo {
    margin: 30px 0 60px;
    width: 180px;
  }
}

@media screen and (max-width: 912px) {
  .container {
    background-image: none;
  }
}

@media screen and (max-height: 720px) {
  .container {
    background-image: none;
  }
}

@media screen and (max-width: 540px) {
  .root {
    box-sizing: border-box;
    max-width: 100%;
    padding: 28px 5.585% 0px;
  }
  
  .logo {
    margin: 0 0 143px 0;
    width: 150px;
  }

  .form {
    max-width: 100%;
  }
  
  .headText {
    max-width: 70.744%;
    /* max-width: 75%; */
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  .fields {
    max-width: 70.744%;
    padding: 0px 25px;
  }

  .errorText {
    max-width: 70.744%;
  }

  .button {
    max-width: 70.744%;
  }
  
  .viaGoogle {
    padding-left: 10px;
    margin-bottom: 18px;
    background-position: 8.27% center;
  }

  .forgotPassword {
    max-width: 70.744%;
  }
}