.container {
  max-width: 83.333%;
  margin: 0 auto;
  background-image: url(../../img/editProfileDots.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1536px) {
  .container {
    max-width: 92%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 5.333%;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 58px;
  padding-top: 100px;
}

.backArrowButton {
  padding: 10px 0;
}

.backArrow {
  position: relative;
  display: block;
  width: 90px;
  height: 2px;
  margin-right: 20px;
  background-color: #0075FF;
}

.backArrow::before {
  content: "";
  position: absolute;
  top: -4.5px;
  display: block;
  width: 9px;
  height: 9px;
  border-top: 2px solid #0075FF;
  border-left: 2px solid #0075FF;
  transform: rotate(-45deg);
}

.mainTitle {
  font-weight: 700;
  font-size: 32px;
  color: #2E3238;
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 20px;
    margin-right: 12px;
    padding-top: 25px;
  }

  .backArrow {
    width: 20px;
  }

  .mainTitle {
    font-weight: 400;
    font-size: 20px;    
  }
}

.editWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.fieldsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 49.25%;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  width: 59.01%;
  margin-right: 2.664%;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  width: 38.324%;
  margin-bottom: 40px;
}

@media screen and (max-width: 1536px) {
  .fieldsContainer {
    width: 60%;
  }
}

.descriptionTitle {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 20px;
  color: #2E3238;  
}

.fields {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 14px;
  padding: 10px 26px;
  border: 1px solid rgba(46, 50, 56, 0.2);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.textArea {
  box-sizing: border-box;
  width: 100%;
  height: 174px;
  margin-bottom: 14px;
  padding: 10px 26px;
  border: 1px solid rgba(46, 50, 56, 0.2);
  resize: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.buttonsContainer {
  width: 100%;
}

/* .buttonsContainer */

.submitButton {
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 17px 25px;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(86.13deg, #0075FF 17.96%, #95C6FF 90.14%);
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.cancelButton {
  box-sizing: border-box;
  margin-bottom: 158px;
  padding: 15px 23px;
  border: 1px solid #0075FF;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #0075FF;
}

.changePasswordButton {
  margin-left: 20px;
}

.backgroundBox {
  width: 100%;
  padding: 3.261% 0;
  margin-bottom: 152px;
  background-image: url(../../img/editProfileBackground.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1023px) {
  .descriptionContainer {
    width: 100%;
    margin-right: 0;
  }

  .socialContainer {
    width: 100%;
    margin-bottom: 20px;
  }

  .descriptionTitle {
    margin: 10px 0;
  }

  .textArea {
    margin-bottom: 0;
  }

  .backgroundBox {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .fieldsContainer {
    width: 100%;
  }
  
  .descriptionContainer {
    width: 100%;
    margin-right: 0;
  }
  
  .socialContainer {
    width: 100%;
    margin-bottom: 0px;
  }

  .descriptionTitleSmallHidden {
    display: none;
  }

  .fields,
  .textArea {
    font-weight: 600;
  }

  .submitButton,
  .cancelButton {
    width: 100%;
    margin: 0;
    margin-bottom: 14px;
  }

  .cancelButton {
    margin-bottom: 168px;
  }
}