.body {
  background: #ffff;
  max-width: 500px;
  /* padding: 0 10px; */
  padding-bottom: 25px;
  margin: 0 auto;
}

.fields {
  border: 1px solid #E8E8E8;
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.fields:focus {
  outline: 2px solid #E8E8E8;
}

.error {
  border: 1px solid red;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.saveButton {
  height: 40px;
  width: 150px;
  margin: 0 auto;
  border-radius: 5px;
}