.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 83.333%;
  margin: 0 auto;
  padding-top: 100px;
  background-image: url(../../img/profileDots.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.background {
  /* width: 700px; */
  /* position: absolute; */
  /* right: -50%; */
  margin-left: -300px;
}

.shareLinkAdvice {
  background-color: #F0F0F0;
  border-radius: 5px;
  width: 70%;
  padding: 11px 32px;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bolder;
  /* margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; */
}

.shareLink {
  margin-top: 5px;
  background-color: #F0F7FF;
  padding: 10px;
  border-radius: 5px;
}

.errorMessage {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding-top: 25px;
  }

  .errorMessage {
    margin-top: 50px;
  }
}