.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 83.333%;
  margin: 0 auto;
}

.section {
  box-sizing: border-box;
  width: 50%;
}

@media screen and (max-width: 1365px) {
  .section {
    width: 100%;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-bottom: 0px;
  }
}

/*  INFO SECTION */

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.avatarContainer {
  width: 100%;
  margin-bottom: 62px;
  background-image: url(../../img/avatarBackground.svg);
  background-position: center;
  background-size: cover;
}

.avatarWrapper {
  width: 192px;
  height: 192px;
  margin: 0 auto;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.nickName {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--accent-color);
}

.description {
  margin-bottom: 34px;
  max-width: 59.5%;
  font-weight: 400;
  font-size: 22px;
  line-height: 136%;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .avatarContainer {
    margin-bottom: 24px;
  }
  
  .avatarWrapper {
    width: 116px;
    height: 116px;
  }
  
  .name {
    margin-bottom: 6px;
    font-size: 20px;
  }
  
  .nickName {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
  }

  .description {
    max-width: 87.2%;
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.socialbtn {
  width: 23px;
  height: 23px;
  margin: 0 7px;
  background-position: center;
  background-repeat: no-repeat;
}

.google {
  background-image: url(../../img/googlel.svg);
  background-size: 23px;
}

.tw {
  background-image: url(../../img/twitter.svg);
  background-size: 23px;
}

.instg {
  background-image: url(../../img/instagram.svg);
  background-size: 19px;
}

.fb {
  background-image: url(../../img/facebook.svg);
  background-size: 19px;
}

.yt {
  background-image: url(../../img/youtube.svg);
  background-size: 26px;
}

.dividingLine {
  display: block;
  width: 1px;
  height: 38px;
  margin: 0 28px 0 21px;
  background-color: #000000;
}

.opinionCount {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.editProfileBtton {
  padding: 5px  23px;
  border: 1px solid var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  text-align: center;
  color: var(--accent-color);
}

.editProfileBttonNarrow {
  display: none;
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 0;
  }
  
  .opinionCount {
    font-size: 18px;
  }
  
  .editProfileBtton {
    font-weight: 600;
    font-size: 18px;
    line-height: 162%;
  }

  .editProfileBttonNarrow {
    display: inline-block;
    margin-bottom: 20px;
  }

  .editProfileBttonWide {
    display: none;
  }
}

/*  OPINION SECTION */

.opinions {
  padding: 0 3.75%;
}

.opinionsTitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 32px;
}

@media screen and (max-width: 1365px) {
  .opinionsTitle {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .opinions {
    padding: 0;
  }

  .opinionsTitle {
    display: none;
  }
}

/* OPINION ITEM */

.opinionItem {
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.opinionItem:last-child {
  border: none;
}

.opinionDate {
  font-weight: 400;
  font-size: 16px;
}

.opinionBody {
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .opinionItem {
    padding: 24px 30px;
  }
  
  .opinionDate {
    font-size: 14px;
  }
  
  .opinionBody {
    font-size: 16px;
  }
}

.advice {
  max-width: 63.75%;
  margin: 136px auto 218px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.adviceName {
  font-weight: 700;
}

.noOpinions {
  padding: 80px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 1365px) {
  .advice {
    margin: 80px auto 0;
  }

  .noOpinions {
    padding: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .advice {
    max-width: 84%;
    margin: 60px auto 60px;
    font-size: 20px;
  }

  .noOpinions {
    padding: 40px 0; 
    font-size: 20px;
  }
}

/* FORM */

.opinionField {
  box-sizing: border-box;
  width: 100%;
  height: 182px;
  margin-top: 46px;
  margin-bottom: 24px;
  padding: 30px;
  border: none;
  resize: none;
  background-color: #EEF6FF;
  font-weight: 700;
  font-size: 16px;
}

.opinionField::placeholder {
  font-weight: 700;
  font-size: 16px;
  color: #585D65;
}

.opinionSubmitButton {
  padding: 5px 28px;
  background-image: linear-gradient(86.13deg, #0075FF 17.96%, #95C6FF 90.14%);
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .opinionForm {
    max-width: 94%;
    margin: 0 auto;
  }
}