.body {
  padding: 10px;
  background-color: #f5f4f4;
  padding-bottom: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  text-align: center;
  background-color: white;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  margin: 20px 0;
}

.userName {
  margin-bottom: 10px;
}

.opinionCounter {
  margin-top: 10px;
}

.socialButtons {
  margin-top: 10px;
  margin-bottom: 5px;
}

.socialbtn {
  margin-bottom: 5px;
  background: #2D3748; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
}

.ggl {
  background-image: url('../../img/googlel.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  margin-right: 10px;
}

.instg {
  background-image: url('../../img/instagram.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.opinionField {
  border: 1px solid #E8E8E8;
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  resize: none;
  width: 100%;
  height: 100px;
  padding: 0;
}

.opinionsSection {
  display: flex;
  flex-direction: column;
}

.submitButton {
  width: 106px;
  height: 40px;
  background: #8C30F5;
  border-radius: 5px;
  color: white;
  border: 0;
  cursor: pointer;
}

.revblock {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
}

.revblock span {
  font-weight: bold;
}

.revblock p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.thanksOpinionText {
  font-weight: bold;
  margin: 15px auto;
  font-size: 18px;
}

.opinionBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmed {
  color: green
}

.decl {
  color: red;
}

.auth {
  font-size: 13px;
  font-weight: lighter;
}

.noOpinions {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}