.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 83.333%;
  margin: 0 auto;
  padding-top: 35px;
}

.logo {
  width: 236px;
  height: auto;
}

@media screen and (max-width: 1365px) {
  .container {
    max-width: 92%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 15px 5.333%;
  }

  .logo {
    width: 149px;
  }
}

@media screen and (max-width: 374px) {
  .logo {
    width: 39.733%;
  }
}

.navContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdownButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
}

.search {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
  background-color: inherit;
  background-image: url(../../img/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px;
}

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  text-align: center;
  color: #2E3238;
}

.arrow {
  display: block;
  width: 9px;
  height: 9px;
  margin: 0 25px 0 10px;
  border-left: 2px solid #0075FF;
  border-top: 2px solid #0075FF;
  transform: translateY(-25%) rotate(225deg);
  transition: transform 0.4s 0.1s;
}

.dropdownButtonActive .arrow {
  transform: translateY(25%) rotate(45deg);
}

.avatarWrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memu {
  display: none;
  box-sizing: border-box;
  position: absolute;
  bottom: -210%;
  width: 100%;
  padding: 8px 20px;
  cursor: default;
  background-color: #EEF6FF;
}

.memuActive {
  display: block;
}

.memu li {
  list-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  color: #2E3238;

}

.logout {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .search {
    margin-right: 0;
    background-size: 20px;
  }

  .name {
    display: none;
  }
  .arrow {
    margin: 0 10px 0 23px;
  }

  .memu {
    bottom: -240%;
    padding: 15px;
  }

  .memu li {
    text-align: right;
  }
}

@media screen and (max-width: 374px) {
  .avatarWrapper {
    width: 42px;
    height: 42px;
    overflow: hidden;
  }

  .memu {
    bottom: -280%;
  }
}