.avatarContainer {
  display: inline-block;
  margin-right: 9.375%;
}

.avatarHolder {
  width: 192px;
  height: 192px;
  margin-bottom: 30px;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputFile[type="file"] {
  display: none;
}

.label {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 15px 36px;
  cursor: pointer;
  background-image: 
    linear-gradient(86.13deg, #0075FF 17.96%, #95C6FF 90.14%);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.errorText {
  font-size: 0.8rem;
  margin-top: 15px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .avatarContainer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .avatarWrapper {
    width: 47.761%;
    margin-right: 4.8%;
  }

  .avatarHolder {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 14px;
    padding: 50% 0;
  }
  .avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .label {
    width: 46.865%;
    padding: 10px 5px;
    font-size: 18px;
  }
}