.body {
  background-image: url(../../img/landingBackground.svg), url(../../img/landingDots.svg);
  background-repeat: no-repeat;
  background-position: top 7% right, center;
  background-size: 70.9375vw, cover;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 83.333%;
  margin: 0 auto;
  padding-top: 238px;
}

.authBox {
  box-sizing: border-box;
  width: 50%;
}

.mainTitle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 5vw;
  line-height: 95.83333333333333%;
  color: #232630;
}

.mainTitleAccent {
  color: #0075FF;
}

.descriptionNarrow {
  display: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  margin-bottom: 18px;  


color: #2E3238;
}

.startButton {
  margin-bottom: 138px;
  padding: 10px 48px;
  background-image: 
    linear-gradient(86.13deg, #0075FF 17.96%, #95C6FF 90.14%);
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

.social {
  margin-bottom: 170px;
}

.socialBtn {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin-right: 9px;
  border: 1px solid #0075FF;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url(../../img/twGradient.svg);
  background-size: 44% auto;
}

.instagram {
  background-image: url(../../img/instGradient.svg);
  background-size: 47% auto;
}

.authorizationBox {
  display: none;
}

.descriptionBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
}

.description{
  margin-right: 8.5%;
  margin-bottom: 170px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
  color: #232630;
}

.image {
  width: 49.25%;
  height: auto;
  margin-bottom: 170px;
}

@media screen and (max-width: 1536px) {
  .container {
    max-width: 92%;
    padding-top: 100px;
  }

  .mainTitle {
    font-size: 5.434782608695652vw;
  }

  .startButton {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1300px) {
  .body {
    background-position: top 15vh right, center;
  }
}

@media screen and (max-width: 1023px) {
  .description{
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .body {
    background-position: top -5% right 25%, center;
    background-size: 160%;
  }

<<<<<<< HEAD
  .container {
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 0 5.333%;
    padding-top: 165px;
=======
  .body {  
    overflow: hidden;
    height: 100%;
>>>>>>> master
  }

  .authBox,
  .descriptionBox {
    width: 100%;
  }

  .mainTitle {
    font-size: 10.66666666666667vw;
    line-height: 100%;
    margin-bottom: 25px;
  }

  .descriptionNarrow {
    display: block;
  }

  .description{
    display: none;
  }
  
  .image {
    width: 49.85074626865672%;
    height: auto;
    margin-bottom: 13px;
  }

  .startButton {
    display: none;
  }

  .social {
    display: none;
  }

  .authorizationBox {
    display: block;
  }

  .signUp,
  .signIn {
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
  }

  .signUp {
    width: 100%;
    margin-bottom: 67px;
    margin-right: 11px;
    padding: 5px 36px;
    border: 1px solid #0075FF;
    color: #0075FF;
  }
  
  .signIn {
    width: 100%;
    margin-bottom: 14px;
    padding: 6px 37px;
    background-image: 
      linear-gradient(86.13deg, #0075FF 17.96%, #95C6FF 90.14%);
    color: #FFFFFF;  
  }
}