.opinionItem {
  padding: 40px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.opinionItem:last-child {
  border: none;
}

.opinionDate {
  font-weight: 400;
  font-size: 16px;
}

.opinionBody {
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .opinionItem {
    padding: 24px 5.585%;
  }
  
  .opinionDate {
    font-size: 14px;
  }
  
  .opinionBody {
    font-size: 16px;
  }
}